.carousel-image.wow.zoomIn.animated img {
    border: 1px solid #260c0c;
    background: #0000004d;
    border-radius: 30px;
}


.container a.navbar-brand {
    background: #fb7e3a !important;
}

.carousel-caption a.btn.btn-lg.btn-primary {
    background-color: #fb7e3a;
    border-color: #fc5900;
}

.product-imitation img {
    max-width: 100%;
}

.product-box .product-imitation {
    padding: 0px;
}

.product-box {
    border: 1px solid #0099ff;
}

.pagination {
    display: flex;
    justify-content: center;
    list-style: none;
}

.pagination li {
    margin: 0 5px;
}

.pagination li a {
    padding: 5px 10px;
    background-color: #eee;
    color: #333;
    text-decoration: none;
    border-radius: 3px;
}

.pagination li.active a {
    background-color: #007bff;
    color: #fff;
}

.pagination li.disabled a {
    opacity: 0.5;
    pointer-events: none;
}

.pagination svg:not(:root) {
    overflow: hidden;
    height: 15px;
}

.pagination .flex.flex-1.justify-between {
    display: none;
}

.search-form form {
    width: 100%;
    display: flex;
}

.slick-slide img {
    width: 100% !important;
}

.image-imitation {
    padding: 0px;
}

.profile_update span.select2.select2-container.select2-container--default.select2-container--above {
    width: 100%;
}

.select-flex {
    display: flex;
}

.update_image img {
    width: 100%;
}

@media (max-width: 768px) {
    .update_image img {
        margin: 32px 0px 0px 0px;
    }
}

.profile-element img.rounded-circle {
    width: 50%;
}

.carousel-caption {
    background: #00000070;
    border: 2px solid #000000;
    padding: 15px;
}

@media (max-width: 768px) {
    .landing-page .carousel-caption,
    .landing-page .carousel-caption.blank {
        margin-right: 20px;
    }
}